{% extends 'base.html' %}

{% block title %}Donation - Kebenei Foundation{% endblock %}

{% block content %}
<body class="templatemo-container">

    <!-- header image -->
    <div class="header-img-2">
    </div>
    <!-- end header image -->
    <!-- Welcome message -->
    <div class="welcome-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-wrapper">
                        <h2 class="welcome-title text-uppercase">Get In Touch</h2>
                        <img src="/static/img/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                        <p class="welcome-description">Find out more about eligibility, camp descriptions, and application deadlines on our website</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome message -->
    <!-- main content -->
    <section class="templatemo-container">
        <div class="container">
            <div class="row margin-bottom-30">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">Contact</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">Get in touch with US for more info</p>
                </div> <!-- col-lg-12 -->
            </div> <!-- row -->
            <div class="row margin-bottom-30">
                <div class="col-lg-6 col-md-6 contact-left">
                    <h3 class="section-title-2 text-uppercase font-weight-300"><b>Our</b> <span class="blue-text">Information</span></h3>
                    <p class="margin-bottom-30">The Kebenei Foundation offers a range of athletic camps designed to empower young athletes. Find out more about eligibility, camp descriptions, and application deadlines on our website</p>
                    <div class="contact-point">
                        <i class="fa fa-map-marker fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Address</b>
                            <p class="contact-point-detail">Keringet 12345, Kenya.</p>
                        </div>
                    </div>
                    <div class="contact-point">
                        <i class="fa fa-envelope-o fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Email</b>
                            <p class="contact-point-detail">kebeneifoundation@company.com</p>
                        </div>
                    </div>
                    <div class="contact-point">
                        <i class="fa fa-phone fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Phone</b>
                            <p class="contact-point-detail">+(123) 456 7890</p>
                        </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-6 contact-right">
                    <h3 class="section-title-2 text-uppercase font-weight-300"><b>Leave</b> <span class="blue-text">a message</span></h3>
                    <form action="#" method="post" class="tm-contact-form">
                        <div class="tm-contact-form">
                            <div class="form-group">
                                <input type="text" id="contact_name" class="form-control" placeholder="NAME" />
                            </div>
                            <div class="form-group">
                                <input type="email" id="contact_email" class="form-control" placeholder="EMAIL" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="contact_subject" class="form-control" placeholder="SUBJECT" />
                            </div>
                            <div class="form-group">
                                <textarea id="contact_message" class="form-control" rows="8" placeholder="MESSAGE"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" name="submit" class="text-uppercase btn-blue-gradient btn-submit">send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- row -->

        </div> <!-- container -->
  
</body>
{% endblock %}
