{% extends 'base.html' %}

{% block title %}Home - Kebenei Foundation{% endblock %}

{% block content %}

     <body class="templatemo-container">
        <!-- end header -->
        <!-- header image -->
        <div class="header-img"></div>
        <!-- end header image -->
        <!-- Welcome message -->
        <div class="welcome-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome-wrapper">
                            <h2 class="welcome-title text-uppercase">Welcome</h2>
                            <img src="/static/img/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                            <p class="welcome-description">The Kebenei Foundation Scholarship Athletic Camp has a rich history rooted in the passion for athletics and the desire to uplift promising young athletes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome message -->
        <!-- main content -->
        <section class="templatemo-container section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">Aim and Purpose</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">Moving Forward Together</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="section-title-2 text-uppercase font-weight-300"><b>Scholarship</b> <span class="blue-text">Opportunities</span></h3>
                        <p>Credit goes to <a href="https://www.facebook.com/Honstanleykebenei/">Stanly Kebenei</a> whose unwavering commitment and passion have been the driving force behind the establishment of the Kebenei Foundation Scholarship Athletic Camp. His vision to empower young athletes through education and sports has transformed countless lives, providing opportunities for growth, development, and success. It is through their dedication and leadership that this camp continues to flourish, making a profound impact on the lives of individuals and communities.</p>
                        <ul class="gray-text ul-1">
                            <li>Scholarship Opportunities: As the name suggests, the Kebenei Foundation Scholarship Athletic Camp may provide scholarships to deserving athletes, enabling them to pursue higher education while continuing to excel in their chosen sports.
</li>
                            <li>Education and Skill Development: One aim could be to provide educational opportunities and skill development for young athletes who might not otherwise have access to such resources.</li>
                            <li>Empowerment and Opportunity: The camp may aim to empower young athletes by providing them with opportunities to showcase their talents, receive mentorship from experienced coaches and athletes, and access resources that can help them succeed in their athletic pursuits.</li>
                            <li>Community Building: The camp could serve as a platform for building a community of like-minded individuals who share a passion for athletics and education. This community can offer support, encouragement, and networking opportunities that extend beyond the duration of the camp.</li>
                            <li>Promoting Health and Wellness: Athletic camps often emphasize the importance of physical health and wellness. Participants may learn about proper nutrition, injury prevention, and the overall importance of maintaining a healthy lifestyle to support their athletic endeavors.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="carousel-container">
                            <div class="crsl-items" data-navigation="navbtns">
                                <div class="crsl-wrap">
                                    <figure class="crsl-item">
                                        <img src="/static/img/stan.jpg" alt="Image" class="img-responsive img-thumbnail">
                                        <p class="small">Founder: Stanly Kebenei</p>
                                    </figure>
                                </div>
                            </div>
                        </div>   <!-- carousel-container -->
                    </div>
                </div>
                <!-- end section content -->
            </div>
        </section>
        <!-- Who We Are -->
        <section class="templatemo-container light-gray-bg section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">Vision</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">Nurturing athletic talent and empowering the next generation of champions</p>
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="tm-blocks-container effect1">
                            <div class="tm-block green-bg">
                                <a href="#" class="tm-block-link">Camp</a>
                            </div>
                            <div class="tm-block">
                                <img src="/static/img/ce.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="/static/img/ce.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block red-bg">
                                <a href="#" class="tm-block-link">Tech Lab</a>
                            </div>
                            <div class="tm-block yellow-bg">
                                <a href="#" class="tm-block-link">Field</a>
                            </div>
                            <div class="tm-block">
                                <img src="/static/img/ce.jpg" alt="Image" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <h3 class="section-title-2 text-uppercase font-weight-300"><b>Our</b> <span class="blue-text">Vision</span></h3>
                        <p class="justify-text"> At the Kebenei Foundation Scholarship Athletic Camp, we are dedicated to nurturing the athletic talent of young individuals and empowering them to become the champions of tomorrow. Our comprehensive program is designed to provide participants with the skills, knowledge, and resources they need to excel in their chosen sport, whether it be track and field, soccer, basketball, or any other discipline. Through a combination of expert coaching, specialized training sessions, and personalized development plans, we aim to unlock the full potential of each athlete and help them reach new heights in their athletic journey.</p>
                        <p class="justify-text">
                            At our camp, we foster a supportive and inclusive environment where athletes can thrive both on and off the field. Beyond honing their physical abilities, we also prioritize the mental and emotional well-being of our participants, offering workshops and seminars on topics such as goal-setting, resilience, and teamwork.
                        </p>
                        <p class="justify-text">
                          Through mentorship from seasoned athletes and coaches, as well as opportunities for competition and collaboration, campers are empowered to embrace challenges, overcome obstacles, and emerge as leaders in their sport and in their communities. Join us at the Kebenei Foundation Scholarship Athletic Camp and embark on a transformative journey towards athletic excellence and personal growth.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog -->
        <section class="templatemo-container">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">Events</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">Upcoming Events</p>
                    </div>
                </div>
                <div class="row posts-container">
                    <div class="post-excerpt post-excerpt-left">
                        <div class="post-content">
                            <h3 class="post-title">Championships 2024</h3>
                            <p class="post-description">ACC Outdoor Track and Field Championships 2024</p>
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">Nov</div>
                            <div class="post-date">18</div>
                        </div>
                        <div class="post-arrow-container rotate-arrow">
                            <img src="/static/img/blog-arrow.png" alt="arrow">
                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-right">
                        <div class="post-arrow-container">
                            <img src="/static/img/blog-arrow.png" alt="arrow">
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">Nov</div>
                            <div class="post-date">19</div>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">Championships 2024</h3>
                            <p class="post-description">ACC Outdoor Track and Field Championships 2024</p>
                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-left">
                        <div class="post-content">
                            <h3 class="post-title">Championships 2024</h3>
                            <p class="post-description">ACC Outdoor Track and Field Championships 2024</p>

                        </div>
                        <div class="post-date-container">
                            <div class="post-month">Nov</div>
                            <div class="post-date">20</div>
                        </div>
                        <div class="post-arrow-container rotate-arrow">
                            <img src="/static/img/blog-arrow.png" alt="arrow">
                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-right">
                        <div class="post-arrow-container">
                            <img src="/static/img/blog-arrow.png" alt="arrow">
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">Nov</div>
                            <div class="post-date">21</div>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">Championships 2024</h3>
                            <p class="post-description">ACC Outdoor Track and Field Championships 2024</p>

                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-left">
                        <div class="post-content">
                            <h3 class="post-title">Championships 2024</h3>
                            <p class="post-description">ACC Outdoor Track and Field Championships 2024</p>
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">Nov</div>
                            <div class="post-date">22</div>
                        </div>
                        <div class="post-arrow-container rotate-arrow">
                            <img src="/static/img/blog-arrow.png" alt="arrow">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script>

            $(function() {
                $('.crsl-items').carousel({
                    visible: 1,
                    itemMinWidth: 320,
                    itemEqualHeight: 320,
                    itemMargin: 9,
                });
                $(".crsl-nav a[href=#]").on('click', function(e) {
                    e.preventDefault();
                });
            });

        </script>
    </body>
{% endblock %}
